#a1:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a1:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a2:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a2:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a2:hover {
      color: red;
      background-color: transparent;
      text-decoration: none;
  }   
  body {
      background-image: url('./images/backgrourd2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }
  #span1 {
      font-size:150%;
      
  }
  #span2 {
      font-size: 150%;
      margin-left: 6cm;
  }
  #load {
      background-color: deeppink;
      color: white;
      font-size:150%;
  }
  h3 {
      text-align: center;
  }
  #onair {
      text-align: center;
  }
  #span3 {
      text-align: center;
      font-size: 200%;
  }
  #box {
      width:50%;
      text-align: center;
     
  }
  #first {
      float: left;
      
  }
  #second {
      float: right;
  }
  #streaming {
      margin-right: 3.5cm;
  }
  #hi {
      margin-right: 3.5cm;
  }
  #list {
      text-align: center;
      margin-left: 7.5cm;

  }
  #onair-att {
      float:right;
      margin-right: 3.5cm;
  }