#a1:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a1:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a2:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a2:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a2:hover {
      color: red;
      background-color: transparent;
      text-decoration: none;
  }   
  body {
      background-image: url('./images/backgrourd2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }
  #span1 {
      font-size:150%;
      
  }
  #span2 {
      font-size: 150%;
      margin-left: 6cm;
  }
  #span21 {
      font-size: 120%;

  }
  #line {
      margin-right: 4cm;
  }
  #line2 {
      margin-left: 6cm;
  }
  #span3 {
      text-align: center;
  }
  #load {
      background-color: deeppink;
      color: white;
      font-size:150%;
  }
  #special {
      text-align: center;
      margin-left: 5cm;
  }
  #img1 {
      width: 400px;
      height: 225px;
  }