#a1:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a1:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a2:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a2:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #a2:hover {
      color: red;
      background-color: transparent;
      text-decoration: none;
  }   
  body {
      background-image: url('./images/backgrourd2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }
  #span1 {
      font-size:150%;
      
  }
  #span2 {
      font-size: 150%;
      margin-left: 6cm;
  }
  #span21 {
      font-size: 120%;
  }
  #load {
      background-color: deeppink;
      color: white;
      font-size:150%;
  }
  #load1a {
      font-size: 120%;
      color: deeppink;
  }
  #line {
      margin-right: 4cm;
  }
  #line2 {
      margin-left: 6cm;
  }
  #span3 {
      text-align: center;
  }
  
  #music {
      text-align: center;
      margin-left: 5cm;
  }
  #music2 {
      text-align: center;
      margin-right: 4cm;
  }
  #span4 {
      text-align: center;
      margin-left: 6.5cm;
  }
  #img2 {
      text-align: center;
      margin-left: 6.5cm;
  }
  #imgmo {
      text-align: center;
      width: 200px;
      height: 200px;
  }
  #tb1a {
      text-align: left;
  }
  #tb1b {
      text-align: right;
  }
  #sp1 {
      text-align: left;
  }
  #sp2 {
      margin-right: 5cm;
  }
  #sp3 {
      margin-right: 5.8cm;
  }